* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-size: 16px;
  line-height: 1.6;
}

.header {
  background-color: #ffb300;
  color: #333;
  padding: 20x 0;
  text-align: center;
  font-size: 28px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header h1 {
  margin: 0;
}

.navbar {
  background-color: #333;
  padding: 5px 0;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  color: #fff;
  list-style-type: none;
}

.navbar ul li {
  margin: 0 20px;
  padding: 10px 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 180px auto 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 5px;
}

h2 {
  text-align: left;
  margin: 20px 0;
  color: #ffb300;
  font-size: 24px;
}

.pictures-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.pictures-div figure {
  margin: 0;
  text-align: center;
}

.pictures-div figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.pictures-div figure figcaption {
  margin-top: 10px;
  display: block;
}

.pictures-div figure figcaption span {
  display: block;
}

.bold {
  font-weight: bold;
}

.our-values-section p {
  margin: 20px 0;
}

.our-values-section ul {
  margin: 0 50px;
}

.map-container {
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.short-content-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}